extends layout

block content
    h1.
        Exercise Diary 
    ul
        each entry, i in diary 
            li
                a(href="mailto:#{entry[0].date}")= entry[0].date
                each exercise, j in entry[1] 
                    li
                        a(href="mailto:#{exercise.name}")= exercise.name
