extends layout

block content
    h1.
        Exercise List

    form(name="add-exercise", method="post") 
        div.input
            span.label Title
            input(type="text", name="title")
        div.actions
            input(type="submit", value="add")
    ul
        each exercise, i in exerciselist
            li
                a(href="exerciselist/#{exercise.name}")= exercise.name

