extends layout

block content
    h1.
        Workouts
    form(name="add-exercise-to-workout", method="post") 
        div.input
            span.label Workout Title
            input(type="text", name="title")
        div.actions
            input(type="submit", value="add")

    ul
        each workout, i in workouts
            li
                workout.title
